<section class="Clientes">
  <div class="NavLinkIcon">
      <i class="material-icons">undo</i>
      <%= link_to 'Voltar', users_path %>
  </div>

  <h1 class="SecondaryTitle">Adicionar Usuário</h1>

  <%= render 'form', user: @user %>

</section>
