<section class="Vendas">

  <div class="NavLinkIcon">
      <i class="material-icons">undo</i>
      <a href="/">Voltar</a>
  </div>

  <h2>Para gerar o orçamento em PDF, clique no botão abaixo:</h2>

  <%= link_to "Gerar Orçamento", recibo_orcamento_path(format: :pdf), target: :new, class: "Button ButtonSave u-marginMediumTop" %>

</section>
