<section class="Fornecedores">

  <div class="NavLinkIcon">
      <i class="material-icons">undo</i>
      <a href="/">Voltar</a>
  </div>
  
  <h1 class="SecondaryTitle">Manual de como utilizar o sistema</h1>

  <ol>

    <li>Cadastre um fornecedor
      <ul>
        <li>Clique no botão "FORNECEDORES" localizado na página inicial.</li>
        <li>Clique no botão "ADICIONAR FORNECEDOR".</li>
        <li>Preencha todas as informações solicitadas.</li>
        <li>O campo CEP possui auto complemento, basta clicar no botão "BUSCAR CEP" que os demais campos serão preenchidos automaticamente.</li>
        <li>Clique no botão "SALVAR".</li>
        <li>Você poderá visualizar, editar e excluir os fornecedores cadastrados.</li>
      </ul>
    </li>

    <br/>

    <li>Cadastre um produto
      <ul>
        <li>Clique no botão "PRODUTOS" localizado na página inicial.</li>
        <li>Clique no botão "ADICIONAR PRODUTO".</li>
        <li>Preencha todas as informações solicitadas.</li>
        <li>O campo "Fornecedor" possui auto complemento, basta digitar as primeiras letras do nome que você receberá uma sugestão para clicar.</li>
        <li>Clique no botão "SALVAR".</li>
        <li>Você poderá visualizar, editar e excluir os produtos cadastrados.</li>
      </ul>
    </li>

    <br/>

    <li>Abra um caixa
      <ul>
        <li>Clique no botão "GERENCIAR CAIXA" localizado na página inicial.</li>
        <li>Clique no botão "ADICIONAR CAIXA".</li>
        <li>Preencha todas as informações solicitadas.</li>
        <li>Clique no botão "SALVAR".</li>
        <li>Você poderá visualizar os caixas cadastrados.</li>
        <li>Só é permitido um caixa aberto, para abrir um novo caixa é preciso fechar o caixa anterior.</li>
      </ul>
    </li>

    <br/>

    <li>Cadastre o seu cliente
      <ul>
        <li>Clique no botão "CLIENTES" localizado na página inicial.</li>
        <li>Clique no botão "ADICIONAR CLIENTE".</li>
        <li>Preencha todas as informações solicitadas.</li>
        <li>O campo CEP possui auto complemento, basta clicar no botão "BUSCAR CEP" que os demais campos serão preenchidos automaticamente.</li>
        <li>Clique no botão "SALVAR".</li>
        <li>Você poderá visualizar, editar e excluir os clientes cadastrados.</li>
      </ul>
    </li>

    <br/>

    <li>Inicie a sua venda
      <ul>
        <li>Clique no botão "INICIAR VENDA" localizado na página inicial.</li>
        <li>O campo "Cliente" possui auto complemento, basta digitar as primeiras letras do nome que você receberá uma sugestão para clicar. Após selecionar o cliente este campo fica desabilitado, se desejar alterar o cliente clique no botão ao lado para editar.</li>
        <li>O campo "Produto" possui auto complemento, basta digitar as primeiras letras do nome que você receberá uma sugestão para clicar.</li>
        <li>Informe a quantidade do produto.</li>
        <li>Clique no botão "ADICIONAR PRODUTO".</li>
        <li>Insira todos os produtos desta venda.</li>
        <li>Você poderá excluir os produtos que adicionou por engano.</li>
        <li>Para encerrar a venda clique no botão "ENCERRAR VENDA".</li>
        <li>Para emitir o recibo desta venda, clique no botão "EMITIR RECIBO".</li>
      </ul>
    </li>

    <br/>

    <li>Gerar um orçamento
      <ul>
        <li>Clique no botão "GERAR ORÇAMENTO" localizado na página inicial.</li>
        <li>O campo "Cliente" possui auto complemento, basta digitar as primeiras letras do nome que você receberá uma sugestão para clicar. Após selecionar o cliente este campo fica desabilitado, se desejar alterar o cliente clique no botão ao lado para editar.</li>
        <li>O campo "Produto" possui auto complemento, basta digitar as primeiras letras do nome que você receberá uma sugestão para clicar.</li>
        <li>Informe a quantidade do produto.</li>
        <li>Clique no botão "ADICIONAR PRODUTO".</li>
        <li>Insira todos os produtos deste orçamento.</li>
        <li>Para finalizar o orçamento clique no botão "FINALIZAR ORÇAMENTO".</li>
        <li>Para gerar o orçamento em PDF clique no botão "GERAR ORÇAMENTO".</li>
      </ul>
    </li>

    <br/>

    <li>Gerar um relatório de vendas
      <ul>
        <li>Clique no botão "GERAR RELATÓRIO" localizado na página inicial.</li>
        <li>Para gerar um relatório por dia, preencha o campo dia com o dia desejado e clique no botão "GERAR RELATÓRIO".</li>
        <li>Para gerar um relatório por mês, preencha os campos mês e ano com as datas desejadas e clique no botão "GERAR RELATÓRIO".</li>
      </ul>
    </li>

    <br/>

    <li>Gerenciar usuários do sistemas
      <ul>
        <li>Clique no botão "USUÁRIOS" localizado no menu de navegação.</li>
        <li>Para adicionar um novo usuário, clique no botão "ADICIONAR USUÁRIO".</li>
        <li>Preencha todas as informações solicitadas.</li>
        <li>Clique no botão "SALVAR".</li>
        <li>Você poderá visualizar, editar e excluir os usuários cadastrados.</li>
      </ul>
    </li>

  </ol>


</section>
