.u-marginMediumBottom {
  margin-bottom: 5%;
}

.u-marginSmallBottom {
    margin-bottom: 2%;
}

.u-marginSmallTop {
    margin-bottom: 2%;
}

.u-marginLarge {
  margin: 10%;
}

.u-marginMediumTop {
  margin-top: 4%;
}
