// Colors
$primary-color: #f06292; // rosa pink
$secondary-color: #f59cba; // rosa claro
$tertiary-color: #9fa8da; // lavanda
$lavender-color: #5c6bc0; // lavanda escuro
$white-color: rgba(255, 255, 255, 1);
$brown-color: #bcaaa4;
$gray-lighten-color: rgba(221, 221, 221, 1);
$gray-color: rgba(117, 117, 117, 1);
$gray-darken-color: rgba(77, 77, 77, 1);
$red-color: #e57373;

// Fonts
$font-default: 'Poppins', sans-serif;
