@import "_mixins.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "MediaQuery";

.Ajuda {
  width: 80%;
	height: 100%;
  font-size: 1.2em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
