@import "_mixins.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "MediaQuery";

.Button {
  @include font($size: 1em, $transform: uppercase, $align: center, $spacing: 0.1rem, $weight: 400);
  color: $white-color;
  border: 1px solid transparent;
  background-image: none;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.42857143;
  border-radius: 4px;
  padding: 6px 12px;
  @include tablet {
    font-size: 1.6rem;
  }
  @include mobile {
    font-size: 2.2rem;
  }
  @include smallMobile {
    font-size: 2.2rem;
  }

  i {
    vertical-align: -6px;
    @include tablet {
      font-size: 2rem !important;
    }
    @include mobile {
      font-size: 3rem !important;
    }
    @include smallMobile {
      font-size: 3rem !important;
    }
  }
}

.ButtonSave {
  background-color: $primary-color;
  &:hover {
    @include boxShadow;
  }
}

.ButtonPrimary {
  background-color: $secondary-color;
  &:hover {
    @include boxShadow;
  }
}

.ButtonSecondary {
  background-color: $tertiary-color;
  &:hover {
    @include boxShadow;
  }
}

.ButtonDelete {
  background-color: $red-color;
  &:hover {
    @include boxShadow;
  }
}

.ButtonIcon {
  @include size($height: 38px, $width: 38px);
  @include font($size: 1em, $align: center, $weight: 400);
  background-color: $tertiary-color;
  color: $white-color;
  border: 1px solid transparent;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  margin: 1%;
  &:hover {
    @include boxShadow;
  }
  &:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
