@import "_mixins.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "MediaQuery";

form {
    width: 100%;
    margin-bottom: 2%;
    .field {
        width: 100%;
    }
    @include tablet {
      margin-bottom: 4%;
    }
    @include mobile {
      margin-bottom: 6%;
    }
    @include smallMobile {
      margin-bottom: 6%;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    @include tablet {
      min-width: 30%;
    }
    @include mobile {
      min-width: 30%;
    }
    @include smallMobile {
      min-width: 30%;
    }
}

.Input {
    @include size($height: 26px, $width: 90%);
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $gray-color;
    background-color: $white-color;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 15px;
    font-family: $font-default;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 30px;
      height: 38px;
    }
    @include smallMobile {
      font-size: 30px;
      height: 38px;
    }
}

.InputSmall {
  width: 80%;
  @include tablet {
    width: 90%;
  }
  @include mobile {
    width: 90%;
    height: 38px;
  }
  @include smallMobile {
    width: 90%;
    height: 38px;
  }
}

.InputVenda {
    @include size($height: 26px, $width: 50%);
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $gray-color;
    background-color: $white-color;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 15px;
}

.InputBusca {
  width: 30%;
  @include tablet {
    width: 60%;
    font-size: 1.6rem;
    height: 40px;
  }
  @include mobile {
    width: 60%;
    font-size: 1.8rem;
    height: 40px;
  }
  @include smallMobile {
    width: 60%;
    font-size: 1.8rem;
    height: 40px;
  }
}

.InputRelatorio {
  @include size($min-width: 55%, $max-width: 68%);
  @include tablet {
    max-width: 55%;
  }
  @include mobile {
    @include size($min-width: 45%, $max-width: 45%);
  }
  @include smallMobile {
    @include size($min-width: 45%, $max-width: 45%);
  }
}

.InputDisabled {
    background-color: #eee;
    cursor: not-allowed;
}

.field select {
    height: 40px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $gray-color;
    background-color: $white-color;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 1%;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 30px;
      height: 48px;
    }
    @include smallMobile {
      font-size: 30px;
      height: 48px;
    }
}

.fieldSmall select {
    height: 40px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $gray-color;
    background-color: $white-color;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 1%;
    width: 85%;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 22px;
    }
    @include smallMobile {
      font-size: 22px;
    }
}

.fieldVenda select {
    height: 40px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $gray-color;
    background-color: $white-color;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 16px;
    }
    @include smallMobile {
      font-size: 16px;
    }
}

.fieldSmall {
    width: 50%;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    @include smallMobile {
      width: 100%;
    }
}

.fieldCep {
    @include flex($items: center, $direction: row, $justify: flex-start, $wrap: nowrap, $content: center);
    width: 70%;
}

.FormShow {
    @include flex($items: flex-start, $direction: column, $justify: flex-start, $wrap: nowrap, $content: center);
    width: 60%;
    font-size: 1.2em;
    @include tablet {
      width: 90%;
    }
    @include mobile {
      width: 90%;
    }
    @include smallMobile {
      width: 90%;
    }

    p a {
      color: $gray-color;
    }

    label {
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 5px;
    }
}

.DateTime select {
    background-color: $white-color;
    height: 3.8vh;
    font-size: 1em;
    font-family: $font-default;
    color: $gray-color;
}

input[type=checkbox] {
  margin-left: 1%;
  padding: 10px;
  @include tablet {
    margin-left: 2%;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
  }
  @include mobile {
    margin-left: 4%;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
  }
  @include smallMobile {
    margin-left: 4%;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
  }
}
