@import "_mixins.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "MediaQuery";

.NavHeader {
  @include size($height: 7vh, $width: 100%);
  @include flex($items: center, $direction: row, $justify: center, $wrap: nowrap, $content: center);
  background-color: #8a7b76;
  color: $white-color;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-sizing: inherit;
}

.ContainerHeader {
  @include tablet {
    @include size($height: 7vh, $width: 90%);
  }
  @include mobile {
    @include size($height: 7vh, $width: 90%);
  }
  @include smallMobile {
    @include size($height: 7vh, $width: 90%);
  }
  @include size($height: 7vh, $width: 75%);
  @include flex($items: center, $direction: row, $justify: space-between, $wrap: nowrap, $content: center);
}

.LogoHeader {
  @include size($height: 100%, $width: 18%);
  @include flex($items: center, $direction: row, $justify: flex-start, $wrap: nowrap, $content: center);
  @include tablet {
    @include size($height: 100%, $width: 15%);
  }
  a {
    text-decoration: none;
    color: $primary-color;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    text-shadow: 2px 2px 8px #6d4c41;
    @include tablet {
      font-size: 3.5rem;
    }
    @include mobile {
      font-size: 3.5rem;
    }
    @include smallMobile {
      font-size: 3.5rem;
    }
  }
  .material-icons {
    color: $white-color;
    margin-right: 4%;
    @include tablet {
      font-size: 2.4rem;
    }
    @include mobile {
      font-size: 2.4rem;
    }
    @include smallMobile {
      font-size: 2.4rem;
    }
  }
}

.MenuHeaderDesktop {
  @include size($height: 100%, $width: 76%);
  @include flex($items: center, $direction: row, $justify: flex-end, $wrap: nowrap, $content: center);
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  @include smallMobile {
    display: none;
  }
}

.MenuHeaderDesktop a {
  @include flex($items: center, $direction: row, $justify: center, $wrap: nowrap, $content: center);
  @include font($size: 1rem, $spacing: 0.05rem);
  height: 100%;
  text-decoration: none;
  color: $white-color;
  text-shadow: 2px 2px 8px #6d4c41;
  margin: 0 1%;
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.MenuHeaderMobile {
  @include size($height: 100%, $width: 50%);
  @include flex($items: center, $direction: row, $justify: flex-end, $wrap: nowrap, $content: center);
  display: none;
  @include tablet {
    display: flex;
  }
  @include mobile {
    display: flex;
  }
  @include smallMobile {
    display: flex;
  }

  a {
    @include flex($items: center, $direction: row, $justify: center, $wrap: nowrap, $content: center);
    height: 100%;
    text-decoration: none;
    color: $white-color;
    text-shadow: 2px 2px 8px #6d4c41;
    margin: 0 6%;
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    i {
      font-size: 3rem;
    }
  }

}
