@import "_mixins.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "MediaQuery";

.Table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

.Table td, .Table th {
    font-size: 1rem;
    border: 1px solid $gray-lighten-color;
    padding: 8px;
    @include tablet {
      font-size: 1.4rem;
    }
    @include mobile {
      font-size: 2rem;
    }
    @include smallMobile {
      font-size: 2rem;
    }
}

.Table tr:nth-child(even){
    background-color: rgba(242, 242, 242, 1);
}

.Table tr:nth-child(odd){
    background-color: $gray-lighten-color;
}

.Table tr:hover {
    background-color: rgba(204, 204, 204, 1);
}

.Table th {
    @include font($align: left, $spacing: 0.05rem);
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $brown-color;
    color: $white-color;
    text-decoration: none;
}

.TabelaRelatorio {
  border-collapse: collapse;
  width: 45%;
}

.TabelaRelatorio, th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 15px;
}

.TabelaRelatorio, tr:nth-child(even){
  background-color: #f2f2f2
}

.Mobile {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  @include smallMobile {
    display: none;
  }
}

.DesktopTablet {
  display: none;
  @include tablet {
    display: contents;
  }
  @include mobile {
    display: contents;
  }
  @include smallMobile {
    display: contents;
  }
}
